% ============================================================
%  USER-PROVIDED PROFESSIONAL RESUME TEMPLATE (Jinja2)
% ============================================================
\documentclass[letterpaper,11pt]{article}
\usepackage{graphicx}
\usepackage{latexsym}
\usepackage[empty]{fullpage}
\usepackage{titlesec}
\usepackage{marvosym}
\usepackage[usenames,dvipsnames]{color}
\usepackage{verbatim}
\usepackage{enumitem}
\usepackage[hidelinks]{hyperref}
\usepackage{fancyhdr}
\usepackage[english]{babel}
\usepackage{tabularx}
\usepackage{xcolor}
\usepackage{fontawesome5}

\input{glyphtounicode}

\pagestyle{fancy}
\fancyhf{} % clear all header and footer fields
\fancyfoot{}
\renewcommand{\headrulewidth}{0pt}
\renewcommand{\footrulewidth}{0pt}

% Adjust margins
\addtolength{\oddsidemargin}{-0.5in}
\addtolength{\evensidemargin}{-0.5in}
\addtolength{\textwidth}{1in}
\addtolength{\topmargin}{-0.65in}
\addtolength{\textheight}{1.1in}

\urlstyle{same}
\flushbottom
\raggedright
\setlength{\tabcolsep}{0in}

% Section formatting
\titleformat{\section}{
  \vspace{-7pt}\scshape\raggedright\large
}{}{0em}{}[\color{black}\titlerule \vspace{-5pt}]

% Ensure machine readable
\pdfgentounicode=1

% -------------------- CUSTOM COMMANDS --------------------
\providecommand{\resumeItem}[1]{
  \item\small{
    {#1 \vspace{-2pt}}
  }
}

\providecommand{\resumeSubheading}[4]{
  \vspace{-2pt}\item
    \begin{tabular*}{0.97\textwidth}[t]{l@{\extracolsep{\fill}}r}
      \textbf{#1} & #2 \\
      \textit{\small#3} & \textit{\small #4} \\
    \end{tabular*}\vspace{-5pt}
}

\providecommand{\resumeProjectHeading}[2]{
    \item
    \begin{tabular*}{0.97\textwidth}{l@{\extracolsep{\fill}}r}
      \small#1 & #2 \\
    \end{tabular*}\vspace{-7pt}
}

\providecommand{\resumeSubHeadingListStart}{\begin{itemize}[leftmargin=0.15in, label={}]}
\providecommand{\resumeSubHeadingListEnd}{\end{itemize}}
\providecommand{\resumeItemListStart}{\begin{itemize}}
\providecommand{\resumeItemListEnd}{\end{itemize}\vspace{-5pt}}

\renewcommand\labelitemii{$\vcenter{\hbox{\tiny$\bullet$}}$}

\begin{document}

% -------------------- HEADING --------------------
\begin{center}
    \textbf{\Huge \scshape << name >>} \\ \vspace{2pt}
    \small 
    <%- for link in header_links -%>
        \faIcon{<< link.icon >>}\enspace 
        <%- if link.type == 'email' -%>
            \href{mailto:<< link.value >>}{\underline{<< link.display >>}}
        <%- elif link.type == 'phone' -%>
            \href{tel:<< link.value >>}{\underline{<< link.display >>}}
        <%- else -%>
            \href{<< link.value >>}{\underline{<< link.display >>}}
        <%- endif -%>
        <%- if not loop.last %> \hspace{0.6cm} <% endif -%>
    <%- endfor %>
\end{center}

% -------------------- SUMMARY --------------------
<% if summary %>
\section{Summary}
\small{<< summary >>}
<% endif %>

% -------------------- EDUCATION --------------------
<% if education %>
\section{Education}
  \resumeSubHeadingListStart
    <% for edu in education %>
    \resumeSubheading
      {<< edu.institution >>}{<< edu.year >>}
      {<< edu.degree >>}{<< edu.gpa >>}
    <% endfor %>
  \resumeSubHeadingListEnd
<% endif %>

% -------------------- SKILLS --------------------
<% if skills %>
\section{Technical Skills}
 \begin{itemize}[leftmargin=0.15in, label={}]
    \small{\item{
        <% if skills.languages %>\textbf{Languages}{: << skills.languages | join(', ') >>} \\<% endif %>
        <% if skills.frameworks %>\textbf{Frameworks}{: << skills.frameworks | join(', ') >>} \\<% endif %>
        <% if skills.tools %>\textbf{Tools}{: << skills.tools | join(', ') >>} \\<% endif %>
        <% if skills.other %>\textbf{Other}{: << skills.other | join(', ') >>}<% endif %>
    }}
 \end{itemize}
<% endif %>


% -------------------- PROJECTS --------------------
<% if projects %>
\section{Projects}
    \resumeSubHeadingListStart
      <% for proj in projects %>
        \resumeProjectHeading
        {\textbf{<< proj.name >>} $|$ \footnotesize\emph{<< proj.tech >>}}{<% if proj.link %>\href{<< proj.link >>}{\underline{Link}}<% endif %>}
        <% if proj.bullets %>
        \resumeItemListStart
          <% for bullet in proj.bullets %>
          \resumeItem{<< bullet >>}
          <% endfor %>
        \resumeItemListEnd
        <% endif %>
      <% endfor %>
    \resumeSubHeadingListEnd
<% endif %>

% -------------------- CERTIFICATIONS --------------------
<% if certifications %>
\section{Achievements \& Certifications}
\begin{itemize}[label=\textbullet,leftmargin=*]
  <% for cert in certifications %>
  \item {<< cert >>}
  <% endfor %>
\end{itemize}
<% endif %>

\end{document}
